# Extensions to ignore
*.txt
!requirements.txt
*.csv
*.xls*
*.log

# Working folders
source_files/*
output/*
past_ai_chats/*

# Private config
config/monthly_mappings.yml

# IDE files
.idea/
*.iml

# mac files
*.DS_Store

# Python files
*.pyc

